/* Body */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    background-image: url('/static/images/background.jpg'); /* Replace 'path/to/your/background/image.jpg' with the actual path to your image */
    background-size: cover;
    background-position: center;
    font-size: 14px; /* Adjust the font size as needed */
    font-style: normal;
}

/* NavBar */
.navbar{
    font-size: 16px;
    top: 0;
    left: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  
    /* (NavBar Items) */
  .navbar-light .navbar-nav .nav-link,
  .navbar-light .navbar-nav .nav-link i {
    padding: 0 20px;    /* spacing between navbar item */
    color: black;
    transition: 0.3s ease;
    font-weight: 500;
  }
  
        /* Hover Effect of complete NavBar Execpt Mobile [down] */
  .navbar-light .navbar-nav .nav-link:hover,
  .navbar i:hover,
  .navbar-light .navbar-nav .nav-link.active,
  .navbar i.active{
    color: hsl(203, 92%, 19%);
  }


/* Form */
.form-control {
    padding: 0.4rem 0.8rem; /* Reduce padding for form controls */
    font-size: 0.9rem; /* Reduce font size for form controls */
}

.btn {
    padding: 0.3rem 0.6rem; /* Reduce padding for buttons */
    font-size: 0.9rem; /* Reduce font size for buttons */
}

/* Tables */
.table {
    width: 100%;
    margin-bottom: 1rem;
    border-collapse: collapse; /* Collapse borders between table cells */
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border: none; /* Remove border from table cells */
    font-size:15px;
}

.table th {
    border-bottom: 2px solid #dee2e6;
}

.table thead th {
    border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
    border-top: 2px solid #dee2e6;
}

/* Alerts */
.alert {
    padding: 0.8rem; /* Reduce padding for alerts */
    font-size: 0.9rem; /* Reduce font size for alerts */
}

/* Input */

/* Custom CSS */
input[type="text"] {
    border: 1px solid rgba(0, 0, 0, 0.699); 
    background-color: rgba(255, 255, 255, 0.8); /* Set background color with transparency */
    padding: 8px; /* Adjust padding as needed */
}

input[type="text"]:focus {
    outline: none;
    border-bottom-color: #007bff; /* Change bottom border color on focus */
}


