/* Body */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    background-image: url('/static/images/background.jpg'); /* Replace 'path/to/your/background/image.jpg' with the actual path to your image */
    background-size: cover;
    background-position: center;
    font-size: 14px; /* Adjust the font size as needed */
}

/* Navbar */
.navbar {
    background: linear-gradient(135deg, #f0f0f0, #c0c0c0); /* Use linear gradient for the background */
    border-bottom: 1px solid #ccc;
    padding: 10px 20px; /* Restore previous padding */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a shadow for a modern look */
}

.navbar-brand {
    color: #333; /* Change text color to a darker shade */
    font-size: 1.5rem;
}

.navbar-nav .nav-link {
    color: #333; /* Change text color to a darker shade */
    font-weight: bold;
    transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
    color: #555; /* Change hover color to a slightly darker shade */
}


/* Form */
.form-control {
    padding: 0.4rem 0.8rem; /* Reduce padding for form controls */
    font-size: 0.9rem; /* Reduce font size for form controls */
}

.btn {
    padding: 0.3rem 0.6rem; /* Reduce padding for buttons */
    font-size: 0.9rem; /* Reduce font size for buttons */
}

/* Tables */
.table {
    width: 100%;
    margin-bottom: 1rem;
    border-collapse: collapse; /* Collapse borders between table cells */
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border: none; /* Remove border from table cells */
}

.table th {
    border-bottom: 2px solid #dee2e6;
}

.table thead th {
    border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
    border-top: 2px solid #dee2e6;
}

/* Alerts */
.alert {
    padding: 0.8rem; /* Reduce padding for alerts */
    font-size: 0.9rem; /* Reduce font size for alerts */
}

/* Input */

/* Custom CSS */
input[type="text"] {
    border: none;
    border-bottom: 1px solid #ccc; /* Add bottom border for a glassy effect */
    background-color: rgba(255, 255, 255, 0.8); /* Set background color with transparency */
    padding: 8px; /* Adjust padding as needed */
}

input[type="text"]:focus {
    outline: none;
    border-bottom-color: #007bff; /* Change bottom border color on focus */
}


