<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <title>{% block title %}{% endblock %} - English To Hindi Translator</title>
</head>

<body>
    <!-- NavBar-->
    

    <nav class="navbar navbar-expand-lg navbar-light bg-white py-2 fixed-top">  <!-- py-size fixed top -->
        <div class="container">
            <!-- NavBar Icon-->
          <h3>English To Hindi Translator</h3>
            <!-- NavBar Mobile icon-->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span><i id="bar" class="fas fa-bars"></i></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- List -->
            <ul class="navbar-nav ml-auto">
              
              <li class="nav-item">
                <a class="nav-link {% if active_page == 'home' %}active{% endif %}" href="/">Home</a>
              </li>

              <li class="nav-item">
                <a class="nav-link {% if active_page == 'about' %}active{% endif %}" href="/about">About</a>
              </li>

        
              <!--Icon-->
              <li class="nav-item">

                  <i class="fal fa-search"></i> 
                  <i id="cart-icon" class="fal fa-shopping-bag"></i>
                

              </li>
              
              
          </div>
        </div>
      </nav>

    {% block body %}
    
    {% endblock body %}
    <!-- Main JavaScript file -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>
