{% extends 'base.html' %}
{% block body %}

<div class="container my-3 ">
    
    <form action="/" method="POST">
        <div class="mb-3">
            <label for="eng" class="form-label">English</label>
            <input type="text" class="form-control" name="eng" id="eng" aria-describedby="emailHelp" required> 
        </div>
        <div class="mb-3">
            <label for="hin" class="form-label">Hindi</label>
            <input type="text" class="form-control" name="hin" id="hin" value="{{ hin_translation }}" readonly>
        </div>
        <button type="submit" class="btn btn-dark">Translate</button>
    </form>
</div>

<div class="container my-3">
    <h2>Translation History</h2>
    
    {% if alldata|length == 0 %}
        <div class="alert alert-dark" role="alert">
            No History found.
        </div>
    {% else %} 
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">SNo</th>
                    <th scope="col">English</th>
                    <th scope="col">Hindi</th>
                    <th scope="col">Time</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in alldata %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ entry.eng }}</td>
                        <td>{{ entry.hin }}</td>
                        <td>{{ entry.date_created.strftime("%H:%M:%S %d-%m-%Y") }}</td>
                        <td>
                            <a href="/delete/{{ entry.sno }}" class="btn btn-outline-dark btn-sm mx-1">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>

{% endblock body %}
